<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Evaldo
		link(rel="stylesheet" href="style/normalize.css")
		link(rel="stylesheet" href="style/logs.css")
		link(rel="shortcut icon" type="image/png" href="icon/favicon-96x96.png")
	body
		div#contenido
			header
				div#titulo
					a(href="/")
						h1 Evaldo - Logs 
					#reloj
							code=fecha
				div#menu
					ul
						a(href="/")#registrarBtn
							li Inicio
						a#logout(href="logout")
							li Salir
			main
				script.
					let logs = document.querySelector('main')
					logs.style.height = logs.offsetHeight+"px";
				code#logs=logs
						
		footer
