<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Evaldo
	body
	script.
		alert('No se ha establecido un periodo académico.\nPor favor informe al personal de planificación')
		window.location.replace('/logout');